@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Jacques+Francois+Shadow&display=swap');

body {
  font-family: 'Instrument Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

.ul {
    list-style: none;
}